<div>

  <form class="form-inline">
    <label>
      <span>Players:</span>
      <input class="input-micro" ng-value="model.state.config.players" disabled type="text">
    </label>
    <label>
      <span>Size:</span>
      <input class="input-micro" ng-value="model.state.config.size" disabled type="text">
    </label>
    <label>
      <span>Walls:</span>
      <input class="input-micro" ng-value="model.state.config.walls" disabled type="text">
    </label>
    <button class="btn btn-primary" ng-click="join()" ng-show="isJoinable()">Join</button>
    <button class="btn btn-danger" ng-click="exit()" ng-show="isExitable()">Exit</button>
    <button class="btn btn-warning" ng-click="skip()" ng-show="isMyTurn()">Skip</button>
  </form>

  <div class="stats">
    <div
      class="item"
      ng-class="{
        me: isMe(player.index),
        winner: player.index == model.state.winner
      }"
      ng-repeat="player in model.state.players"
    >
      <div class="player player-{{player.index}} pull-left"></div>
      <div class="wall wall-vertical wall-filled pull-left" ng-repeat="wall in [] | range:player.walls"></div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="field pull-left" ng-show="model.state.config.size > 0">
    <div ng-repeat="row in [] | range:model.state.config.size">
      <div class="clearfix">
        <div class="pull-left" ng-repeat="col in [] | range:model.state.config.size">
          <div
            class="cell pull-left"
            ng-class="{
              active: isActivePlayer(row, col),
              hovered: isCellHovered(row, col)
            }"
            ng-click="move(row, col)"
            ng-mouseenter="hoverCell(row, col)"
            ng-mouseleave="unhoverCell()"
          >
            <div
              class="player player-{{getPlayerIndex(row, col)}}"
              ng-show="isJoinedPlayer(row, col)"
            ></div>
          </div>
          <div
            class="wall wall-vertical pull-left"
            ng-class="{
              hovered: isWallHovered(row, col, Directions.VERTICAL),
              'wall-filled': isWall(row, col, Directions.VERTICAL)
            }"
            ng-click="build(row, col, Directions.VERTICAL)"
            ng-mouseenter="hoverWall(row, col, Directions.VERTICAL)"
            ng-mouseleave="unhoverWall()"
            ng-show="col < model.state.config.size - 1"
          ></div>
        </div>
      </div>
      <div class="clearfix" ng-show="row < model.state.config.size - 1">
        <div class="pull-left" ng-repeat="col in [] | range:model.state.config.size">
          <div
            class="wall wall-horizontal pull-left"
            ng-class="{
              hovered: isWallHovered(row, col, Directions.HORIZONTAL),
              'wall-filled': isWall(row, col, Directions.HORIZONTAL)
            }"
            ng-click="build(row, col, Directions.HORIZONTAL)"
            ng-mouseenter="hoverWall(row, col, Directions.HORIZONTAL)"
            ng-mouseleave="unhoverWall()"
          ></div>
          <div
            class="wall pull-left"
            ng-class="{
              hovered: isWallHovered(row, col, Directions.CENTER),
              'wall-filled': isWall(row, col, Directions.CENTER)
            }"
            ng-show="col < model.state.config.size - 1"
          ></div>
        </div>
      </div>
    </div>
  </div>

</div>
