$tableFault: 2px;

$cellSize: 30px;
$cellSizeInner: $cellSize - $tableFault;
$cellBackground: transparent;
$cellActiveBackground: #fff;
$cellHoveredBackground: #95a5a6;

$wallSize: $cellSize / 3;
$wallBackground: #bcc3c5;
$wallFilledBackground: #2c3e50;
$wallHoveredBackground: #95a5a6;

$playerSize: $cellSizeInner * 0.8;
$playerMargin: ($cellSizeInner - $playerSize) / 2;
$playerRadius: $playerSize / 2;
$player0Background: #e74c3c;
$player1Background: #3498db;
$player2Background: #18bc9c;
$player3Background: #f39c12;

$winnerBackground: #9f9;
$meBackground: #ccc;

.field {
  border: solid $wallSize;
  border-collapse: separate;
  border-right-color: $player0Background;
  border-left-color: $player1Background;
  border-bottom-color: $player2Background;
  border-top-color: $player3Background;
  margin: auto;

  .cell {
    background: $cellBackground;
    height: $cellSize;
    width: $cellSize;
  }

  .cell.hovered {
    background: $cellHoveredBackground;
  }

  .cell.active {
    background: $cellActiveBackground;
  }
}

.wall {
  background: $wallBackground;
  height: $wallSize;
  width: $wallSize;
}

.wall.wall-horizontal {
  width: $cellSize;
}

.wall.wall-vertical {
  height: $cellSize;
}

.wall.hovered {
  background: $wallHoveredBackground;
}

.wall.wall-filled {
  background: $wallFilledBackground;
}

.player {
  border-radius: $playerRadius;
  height: $playerSize;
  margin: $playerMargin;
  width: $playerSize;
}

.player-0 {
  background: $player0Background;
}

.player-1 {
  background: $player1Background;
}

.player-2 {
  background: $player2Background;
}

.player-3 {
  background: $player3Background;
}
