<div ng-init="init()">

  <div class="clearfix well">
    <button class="btn btn-primary pull-left" ng-click="openGamesList()" ng-show="!isExitable()" title="Back to games list">
      <span class="icon-home icon-large"></span>
    </button>

    <button class="btn btn-primary pull-left" ng-click="exit()" ng-show="isExitable()" title="Exit">
      Exit
    </button>

    <button class="btn btn-primary pull-right" ng-click="join()" ng-show="isJoinable()" title="Join">
      Join
    </button>

    <button class="btn btn-primary pull-right" ng-click="skip()" ng-show="isMyTurn()">
      Skip
    </button>

    <h3 class="margin-left-1 margin-top-1 pull-left">
      <span class="label label-default" title="Players">
        <span class="icon-user"></span>
        <span ng-bind="countJoinedPlayers()"></span>/<span ng-bind="model.config.players"></span></span>
      <span class="label label-default" title="Size">
        <span class="icon-th"></span>
        <span ng-bind="model.config.size"></span></span>
      <span class="label label-default" title="Walls">
        <span class="icon-reorder"></span>
        <span ng-bind="model.config.walls"></span></span>
    </h3>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <div class="well">
        <table class="field" ng-show="model.config.size > 0">
          <tr ng-repeat-start="row in [] | range:model.config.size">
            <td
              class="cell"
              ng-class="{
                active: isActivePlayer(position(row, col)),
                hovered: isCellHovered(position(row, col))
              }"
              ng-click="move(position(row, col))"
              ng-mouseenter="hoverCell(position(row, col))"
              ng-mouseleave="unhoverCell()"
              ng-repeat-start="col in [] | range:model.config.size"
              >
              <div
                class="player player-{{getPlayerIndex(position(row, col))}}"
                ng-show="isJoinedPlayer(position(row, col))"
                ></div>
            </td>
            <td
              class="wall wall-vertical"
              ng-class="{
                hovered: isWallHovered(position(row, col), Directions.VERTICAL),
                'wall-filled': isWall(position(row, col), Directions.VERTICAL)
              }"
              ng-click="build(wall(position(row, col), Directions.VERTICAL))"
              ng-mouseenter="hoverWall(wall(position(row, col), Directions.VERTICAL))"
              ng-mouseleave="unhoverWall()"
              ng-repeat-end
              ng-show="col < model.config.size - 1"
              ></td>
          </tr>
          <tr ng-repeat-end ng-show="row < model.config.size - 1">
            <td
              class="wall wall-horizontal"
              ng-class="{
                hovered: isWallHovered(position(row, col), Directions.HORIZONTAL),
                'wall-filled': isWall(position(row, col), Directions.HORIZONTAL)
              }"
              ng-click="build(wall(position(row, col), Directions.HORIZONTAL))"
              ng-mouseenter="hoverWall(wall(position(row, col), Directions.HORIZONTAL))"
              ng-mouseleave="unhoverWall()"
              ng-repeat-start="col in [] | range:model.config.size"
              ></td>
            <td
              class="wall"
              ng-class="{
                hovered: isWallHovered(position(row, col), Directions.CENTER),
                'wall-filled': isWall(position(row, col), Directions.CENTER)
              }"
              ng-show="col < model.config.size - 1"
              ng-repeat-end
              ></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="stats well">
        <div
          class="item"
          ng-class="{
            me: isMe(player.index),
            winner: player.index == model.state.winner
          }"
          ng-repeat="player in model.state.players"
        >
          <div class="player player-{{player.index}} pull-left"></div>
          <div class="wall wall-vertical wall-filled pull-left" ng-repeat="wall in [] | range:player.walls"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>

</div>
