<div ng-init="init()">

  <div class="clearfix well">
    <button class="btn btn-danger pull-left" ng-click="openGamesList()" title="Back to games list">
      <span class="icon-home icon-large"></span>
    </button>

    <button class="btn btn-default pull-left margin-left-4" ng-click="toggleDetails()" title="Details">
      <span class="icon-ellipsis-horizontal icon-large"></span>
    </button>

    <button class="btn btn-primary pull-right" ng-click="join()" ng-show="isJoinable()" title="Join">
      Join
    </button>

    <button class="btn btn-danger pull-right" ng-click="exit()" ng-show="isExitable()" title="Exit">
      Exit
    </button>

    <button class="btn btn-warning pull-right margin-right-4" ng-click="skip()" ng-show="isMyTurn()">
      Skip
    </button>
  </div>

  <div class="well" ng-show="model.details">
    <h3 class="margin-top-0">
      <span class="label label-success" title="Players">
        <span class="icon-user"></span>
        <span ng-bind="countJoinedPlayers()"></span>/<span ng-bind="model.config.players"></span></span>
      <span class="label label-warning" title="Size">
        <span class="icon-th"></span>
        <span ng-bind="model.config.size"></span></span>
      <span class="label label-danger" title="Walls">
        <span class="icon-reorder"></span>
        <span ng-bind="model.config.walls"></span></span>
    </h3>
  </div>

  <div class="stats well">
    <div
      class="item"
      ng-class="{
        me: isMe(player.index),
        winner: player.index == model.state.winner
      }"
      ng-repeat="player in model.state.players"
    >
      <div class="player player-{{player.index}} pull-left"></div>
      <div class="wall wall-vertical wall-filled pull-left" ng-repeat="wall in [] | range:player.walls"></div>
      <div class="clearfix"></div>
    </div>
  </div>

  <table class="field" ng-show="model.config.size > 0">
    <tr ng-repeat-start="row in [] | range:model.config.size">
      <td
        class="cell"
        ng-class="{
          active: isActivePlayer(row, col),
          hovered: isCellHovered(row, col)
        }"
        ng-click="move(row, col)"
        ng-mouseenter="hoverCell(row, col)"
        ng-mouseleave="unhoverCell()"
        ng-repeat-start="col in [] | range:model.config.size"
      >
        <div
          class="player player-{{getPlayerIndex(row, col)}}"
          ng-show="isJoinedPlayer(row, col)"
        ></div>
      </td>
      <td
        class="wall wall-vertical"
        ng-class="{
          hovered: isWallHovered(row, col, Directions.VERTICAL),
          'wall-filled': isWall(row, col, Directions.VERTICAL)
        }"
        ng-click="build(row, col, Directions.VERTICAL)"
        ng-mouseenter="hoverWall(row, col, Directions.VERTICAL)"
        ng-mouseleave="unhoverWall()"
        ng-repeat-end
        ng-show="col < model.config.size - 1"
      ></td>
    </tr>
    <tr ng-repeat-end ng-show="row < model.config.size - 1">
      <td
        class="wall wall-horizontal"
        ng-class="{
          hovered: isWallHovered(row, col, Directions.HORIZONTAL),
          'wall-filled': isWall(row, col, Directions.HORIZONTAL)
        }"
        ng-click="build(row, col, Directions.HORIZONTAL)"
        ng-mouseenter="hoverWall(row, col, Directions.HORIZONTAL)"
        ng-mouseleave="unhoverWall()"
        ng-repeat-start="col in [] | range:model.config.size"
      ></td>
      <td
        class="wall"
        ng-class="{
          hovered: isWallHovered(row, col, Directions.CENTER),
          'wall-filled': isWall(row, col, Directions.CENTER)
        }"
        ng-show="col < model.config.size - 1"
        ng-repeat-end
      ></td>
    </tr>
  </table>

</div>
