<div ng-init="init()">

  <div class="well">
    <form class="form-inline">
      <label>Players:</label>
      <div class="form-group">
        <input class="form-control input-short" ng-model="model.form.data.players" type="text">
      </div>
      <label>Size:</label>
      <div class="form-group">
        <input class="form-control input-short" ng-model="model.form.data.size" type="text">
      </div>
      <label>Walls:</label>
      <div class="form-group">
        <input class="form-control input-short" ng-model="model.form.data.walls" type="text">
      </div>
      <button class="btn btn-primary" ng-click="create()">Create</button>
    </form>
    <p class="text-danger" ng-bind="model.form.error" ng-show="model.form.error"></p>
  </div>

  <div ng-repeat="game in model.games">
    <span class="label label-success" ng-bind="game.config.players"></span>
    <span class="label label-primary" ng-bind="game.config.size"></span>
    <span class="label label-danger" ng-bind="game.config.walls"></span>
  </div>

</div>
