<!DOCTYPE html>
<html ng-app="quoridor" ng-controller="AppCtrl">
  <head>
    <title>quoridor</title>

    <!-- social media tags -->
    <meta property="og:title" content="Quoridor">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://quoridor.ru">
    <meta property="og:image" content="">
    <meta property="og:description" content="Quoridor game. Online version.">

    <% css.forEach(function(path) { %>
      <link href="<%= path %>" rel="stylesheet" type="text/css">
    <% }); %>

    <script src="/socket.io/socket.io.js"></script>
    <% js.forEach(function(path) { %>
      <script type="text/javascript" src="<%= path %>"></script>
    <% }); %>
  </head>
  <body>
    <div class="container" ui-view="main"></div>
  </body>
</html>
