h1,
h2,
h3,
h4,
h5,
h6 {
  .label {
    font-weight: normal;
  }
}

.form-inline .form-control {
  display: inline-block;
}

.input-short {
  width: 55px;
}

@for $i from 0 through 4 {
  @each $side in top, right, bottom, left {
    .margin-#{$side}-#{$i} {
      margin-#{$side}: 5px * $i;
    }
  }
}
