$frameWidth: 607px;
$frameHeight: 500px;

html,
body,
.container {
//  max-height: $frameHeight;
  max-width: $frameWidth;
  margin: auto;
  overflow: auto;
}

.bar {
  font-size: 18px;
  margin: 0;
  padding: 5px;
}
