<div>

  <div class="well">
    <form class="form-inline">
      <label>Players:</label>
      <div class="form-group">
        <input class="form-control input-short" ng-model="model.config.players" disabled type="text">
      </div>
      <label>Size:</label>
      <div class="form-group">
        <input class="form-control input-short" ng-model="model.config.size" disabled type="text">
      </div>
      <label>Walls:</label>
      <div class="form-group">
        <input class="form-control input-short" ng-model="model.config.walls" disabled type="text">
      </div>
      <button class="btn btn-primary" ng-click="join()" ng-show="isJoinable()">Join</button>
      <button class="btn btn-danger" ng-click="exit()" ng-show="isExitable()">Exit</button>
      <button class="btn btn-warning" ng-click="skip()" ng-show="isMyTurn()">Skip</button>
    </form>
  </div>

  <div class="stats well">
    <div
      class="item"
      ng-class="{
        me: isMe(player.index),
        winner: player.index == model.state.winner
      }"
      ng-repeat="player in model.state.players"
    >
      <div class="player player-{{player.index}} pull-left"></div>
      <div class="wall wall-vertical wall-filled pull-left" ng-repeat="wall in [] | range:player.walls"></div>
      <div class="clearfix"></div>
    </div>
  </div>

  <table class="field" ng-show="model.config.size > 0">
    <tr ng-repeat-start="row in [] | range:model.config.size">
      <td
        class="cell"
        ng-class="{
          active: isActivePlayer(row, col),
          hovered: isCellHovered(row, col)
        }"
        ng-click="move(row, col)"
        ng-mouseenter="hoverCell(row, col)"
        ng-mouseleave="unhoverCell()"
        ng-repeat-start="col in [] | range:model.config.size"
      >
        <div
          class="player player-{{getPlayerIndex(row, col)}}"
          ng-show="isJoinedPlayer(row, col)"
        ></div>
      </td>
      <td
        class="wall wall-vertical"
        ng-class="{
          hovered: isWallHovered(row, col, Directions.VERTICAL),
          'wall-filled': isWall(row, col, Directions.VERTICAL)
        }"
        ng-click="build(row, col, Directions.VERTICAL)"
        ng-mouseenter="hoverWall(row, col, Directions.VERTICAL)"
        ng-mouseleave="unhoverWall()"
        ng-repeat-end
        ng-show="col < model.config.size - 1"
      ></td>
    </tr>
    <tr ng-repeat-end ng-show="row < model.config.size - 1">
      <td
        class="wall wall-horizontal"
        ng-class="{
          hovered: isWallHovered(row, col, Directions.HORIZONTAL),
          'wall-filled': isWall(row, col, Directions.HORIZONTAL)
        }"
        ng-click="build(row, col, Directions.HORIZONTAL)"
        ng-mouseenter="hoverWall(row, col, Directions.HORIZONTAL)"
        ng-mouseleave="unhoverWall()"
        ng-repeat-start="col in [] | range:model.config.size"
      ></td>
      <td
        class="wall"
        ng-class="{
          hovered: isWallHovered(row, col, Directions.CENTER),
          'wall-filled': isWall(row, col, Directions.CENTER)
        }"
        ng-show="col < model.config.size - 1"
        ng-repeat-end
      ></td>
    </tr>
  </table>

</div>
